project/app/XML_ALI/XSD/ALI-WebRSA.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="boolean">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="datetime">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}\s[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ALI-WebRSA">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entete">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="date_generation" type="datetime"/>
                            <xs:element name="id_structure_ali" type="xs:positiveInteger"/>
                            <xs:element name="fichier_stock" type="xs:boolean"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dossiers" minOccurs="0" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id_personne" type="xs:positiveInteger"/>
                                        <xs:element name="liste_referents_parcours" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="referent_parcours" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id_webrsa" type="xs:positiveInteger"/>
                                                                <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                                <xs:element name="date_designation" type="xs:date"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="liste_rendez_vous" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="rendez_vous" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id_webrsa" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                                <xs:element name="id_structurereferente" type="xs:positiveInteger"/>
                                                                <xs:element name="id_referent" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_objet_rdv" type="xs:positiveInteger"/>
                                                                <xs:element name="thematiques">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="id_thematique_rdv" type="xs:positiveInteger" maxOccurs="unbounded"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="id_statut_rdv" type="xs:positiveInteger"/>
                                                                <xs:element name="date_rdv" type="xs:date"/>
                                                                <xs:element name="heure_rdv" type="xs:time"/>
                                                                <xs:element name="objectif_rdv" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="commentaire_rdv" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="a_revoir_le" type="xs:gYearMonth" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="liste_dsps" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dsp" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id_webrsa" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                                <xs:element name="niveau_etude">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="id_niveau_etudes" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_diplome_plus_eleve" type="xs:positiveInteger"/>
                                                                            <xs:element name="annee_obtention" type="xs:gYear" minOccurs="0"/>
                                                                            <xs:element name="qualifications_pro" type="boolean"/>
                                                                            <xs:element name="precisions_qualifications_pro" type="xs:string" minOccurs="0"/>
                                                                            <xs:element name="competences_extrapro" type="boolean"/>
                                                                            <xs:element name="precisions_competences_extrapro" type="xs:string" minOccurs="0"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="liste_cers" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cer" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="id_webrsa" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                                <xs:element name="id_referent" type="xs:positiveInteger" />
                                                                <xs:element name="incoherence" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="inscrit_PE" type="boolean"/>
                                                                <xs:element name="id_cmu" type="xs:positiveInteger"/>
                                                                <xs:element name="id_cmu_c" type="xs:positiveInteger"/>
                                                                <xs:element name="id_niveau_etude" type="xs:positiveInteger"/>
                                                                <xs:element name="diplome" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="intitule" type="xs:string"/>
                                                                            <xs:element name="date_obtention" type="xs:gYear"/>
                                                                            <xs:element name="etranger" type="xs:boolean"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="experience_pro" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="id_code_famille" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_code_domaine" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_code_metier" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_appellation_metier" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_nature_contrat" type="xs:positiveInteger"/>
                                                                            <xs:element name="annee_debut" type="xs:gYear"/>
                                                                            <xs:element name="duree" type="xs:positiveInteger" minOccurs="0"/>
                                                                            <xs:element name="id_type_duree" type="xs:positiveInteger" minOccurs="0"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="autre_experience" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="emploi_trouve" type="boolean"/>
                                                                <xs:element name="detail_emploi_trouve" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="id_code_famille" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_code_domaine" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_code_metier" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_appellation_metier" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_secteur_activite" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_metier_exerce" type="xs:positiveInteger"/>
                                                                            <xs:element name="duree_hedbo" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_nature_contrat" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_duree_cdd" type="xs:positiveInteger" minOccurs="0"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="bilan_actions_prec" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="mois_a_venir" type="xs:string"/>
                                                                <xs:element name="sujets" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="id_sujet_cer" type="xs:positiveInteger"/>
                                                                            <xs:element name="id_sous_sujet_cer" type="xs:positiveInteger" minOccurs="0"/>
                                                                            <xs:element name="id_valeur_sous_sujet_cer" type="xs:positiveInteger" minOccurs="0"/>
                                                                            <xs:element name="champ_libre" type="xs:string" minOccurs="0"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="id_duree_cer" type="xs:positiveInteger"/>
                                                                <xs:element name="id_point_parcours" type="xs:positiveInteger"/>
                                                                <xs:element name="date_reprise_contact" type="xs:date" minOccurs="0"/>
                                                                <xs:element name="observations" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="date_debut" type="xs:date"/>
                                                                <xs:element name="date_saisie" type="xs:date"/>
                                                                <xs:element name="id_forme_cer" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="commentaires" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="id_commentaire" type="xs:positiveInteger"/>
                                                                            <xs:element name="commentaire_libre" type="xs:string" minOccurs="0"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="date_signature" type="xs:date"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="liste_changements_orientation" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="changement_orientation">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="id_webrsa" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                                <xs:element name="id_referent" type="xs:positiveInteger"/>
                                                                <xs:element name="date_demande" type="xs:date"/>
                                                                <xs:element name="id_origine" type="xs:positiveInteger"/>
                                                                <xs:element name="reorientation" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="id_motif_reorientation" type="xs:positiveInteger"/>
                                                                            <xs:element name="accord_referent" type="boolean"/>
                                                                            <xs:element name="motif_refus" type="xs:string" minOccurs="0"/>
                                                                            <xs:element name="accord_allocataire" type="boolean"/>
                                                                            <xs:element name="urgence" type="boolean"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="id_type_orientation" type="xs:positiveInteger"/>
                                                                <xs:element name="id_structure_referente_accueil" type="xs:positiveInteger"/>
                                                                <xs:element name="id_referent_accueil" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_statut" type="xs:positiveInteger"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="formulaire_d1" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="id_webrsa" type="xs:positiveInteger" minOccurs="0"/>
                                                    <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                    <xs:element name="id_nationalite" type="xs:positiveInteger"/>
                                                    <xs:element name="inscrit_pe" type="boolean"/>
                                                    <xs:element name="id_statut_marche_travail" type="xs:positiveInteger"/>
                                                    <xs:element name="id_groupes_vulnerables" type="xs:positiveInteger"/>
                                                    <xs:element name="diplome_etranger_reconnu_france" type="boolean"/>
                                                    <xs:element name="id_cat_sociopro" type="xs:positiveInteger"/>
                                                    <xs:element name="id_condition_logement" type="xs:positiveInteger"/>
                                                    <xs:element name="condition_logement_autre" type="xs:string" minOccurs="0"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="formulaire_d2" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="id_webrsa" type="xs:positiveInteger" minOccurs="0"/>
                                                    <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                    <xs:element name="id_statut_accompagnement" type="xs:positiveInteger"/>
                                                    <xs:element name="sortie_accompagnement" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id_motif_sortie_accompagnement" type="xs:positiveInteger"/>
                                                                <xs:element name="id_temps_travail" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_code_famille" type="xs:positiveInteger"/>
                                                                <xs:element name="id_code_domaine" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_code_metier" type="xs:positiveInteger" minOccurs="0"/>
                                                                <xs:element name="id_appellation_metier" type="xs:positiveInteger" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="sortie_changement_admin" type="xs:positiveInteger" minOccurs="0"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="formulaire_b7" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="id_webrsa" type="xs:positiveInteger" minOccurs="0"/>
                                                    <xs:element name="id_ali" type="xs:positiveInteger"/>
                                                    <xs:element name="id_type_emploi" type="xs:positiveInteger"/>
                                                    <xs:element name="id_temps_travail" type="xs:positiveInteger"/>
                                                    <xs:element name="date_embauche" type="xs:date"/>
                                                    <xs:element name="id_code_famille" type="xs:positiveInteger"/>
                                                    <xs:element name="id_code_domaine" type="xs:positiveInteger" minOccurs="0"/>
                                                    <xs:element name="id_code_metier" type="xs:positiveInteger" minOccurs="0"/>
                                                    <xs:element name="id_appellation_metier" type="xs:positiveInteger" minOccurs="0"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>