project/app/XML_ALI/XSD/WebRSA-ALI.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="boolean">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="datetime">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}\s[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{1,3})?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="WebRSA-ALI">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entete">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="date_generation" type="datetime"/>
                            <xs:element name="id_structure_ali" type="xs:integer"/>
                            <xs:element name="libelle_ali" type="xs:string"/>
                            <xs:element name="fichier_stock" type="xs:boolean"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                 <xs:element name="dossiers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="id_personne" type="xs:integer"/>
                                        <xs:element name="allocataire" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="civilite" type="xs:integer" minOccurs="0"/>
                                                    <xs:element name="nom" type="xs:string"/>
                                                    <xs:element name="prenom" type="xs:string"/>
                                                    <xs:element name="nir" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="numero_caf" type="xs:integer"/>
                                                    <xs:element name="date_naissance" type="xs:date"/>
                                                    <xs:element name="numero_voie" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="type_voie" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="nom_voie" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="complement_adresse" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="code_postal" type="xs:integer"/>
                                                    <xs:element name="ville" type="xs:string"/>
                                                    <xs:element name="date_demande_rsa" type="xs:date"/>
                                                    <xs:element name="numero_demande_rsa" type="xs:string"/>
                                                    <xs:element name="etat_droit" type="xs:integer"/>
                                                    <xs:element name="soumis_droits_devoirs" type="boolean" minOccurs="0"/>
                                                    <xs:element name="role_personne" type="xs:integer"/>
                                                    <xs:element name="nb_enfants_foyer" type="xs:integer"/>
                                                    <xs:element name="situation_familiale" type="xs:integer"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="referents_parcours" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="referent_parcours" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id_structure_referente" type="xs:integer"/>
                                                                <xs:element name="id_referent" type="xs:integer" minOccurs="0"/>
                                                                <xs:element name="date_debut_designation" type="xs:date"/>
                                                                <xs:element name="date_fin_designation" type="xs:date" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="modes_contact" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="telephone_1" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="modif_telephone_1" type="datetime" minOccurs="0"/>
                                                    <xs:element name="telephone_2" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="modif_telephone_2" type="datetime" minOccurs="0"/>
                                                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="modif_email" type="datetime" minOccurs="0"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="orientations" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="orientation" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id_orient_webrsa" type="xs:integer"/>
                                                                <xs:element name="id_orient_ali" type="xs:integer" minOccurs="0"/>
                                                                <xs:element name="date_orient" type="xs:date"/>
                                                                <xs:element name="origine_orient" type="xs:integer"/>
                                                                <xs:element name="statut_orient" type="xs:integer"/>
                                                                <xs:element name="type_orient" type="xs:integer"/>
                                                                <xs:element name="rang_orient" type="xs:integer" minOccurs="0"/>
                                                                <xs:element name="structure_referente" type="xs:integer"/>
                                                                <xs:element name="tag_entretien_diag" type="boolean"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="cers" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cer" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="id_cer_webrsa" type="xs:integer"/>
                                                                <xs:element name="id_cer_ali" type="xs:integer" minOccurs="0"/>
                                                                <xs:element name="structure_referente" type="xs:integer"/>
                                                                <xs:element name="statut" type="xs:integer"/>
                                                                <xs:element name="rang" type="xs:integer" minOccurs="0"/>
                                                                <xs:element name="date_debut" type="xs:date" minOccurs="0"/>
                                                                <xs:element name="date_fin" type="xs:date" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dsp" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="id_dsp_webrsa" type="xs:integer"/>
                                                    <xs:element name="id_dsp_ali" type="xs:integer" minOccurs="0"/>
                                                    <xs:element name="niveau_etude">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="niveau_etude" type="xs:integer" minOccurs="0"/>
                                                                <xs:element name="diplome_plus_eleve" type="xs:integer" minOccurs="0"/>
                                                                <xs:element name="annee_obtention" type="xs:gYear" minOccurs="0"/>
                                                                <xs:element name="qualifications_pro" type="boolean" minOccurs="0"/>
                                                                <xs:element name="precisions_qualifications_pro" type="xs:string" minOccurs="0"/>
                                                                <xs:element name="competences_extrapro" type="boolean" minOccurs="0"/>
                                                                <xs:element name="precisions_competences_extrapro" type="xs:string" minOccurs="0"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>